<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg bg-dark text-white">

<header class="p-3 text-bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <span>Ташкент 24 | </span>
        </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>

            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"><input type="search"
                                                                                       class="form-control form-control-dark text-bg-dark"
                                                                                       placeholder="Поиск"
                                                                                       aria-label="Search"></form>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Войти</button>
                <button type="button" class="btn btn-warning">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</header>
<hr>
    </div>
    <div class="container px-4 py-4" id="featured-3">
        <h2 class="pb-2 border-bottom">Статьи по категория: <i style="color: yellow;">"{{ categ1 }}"</i></h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% for z in themes %}
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img src="{{ z.theme_photo.url }}" width="300" height="300">
                </div>
                <h3 class="fs-2">{{ z }}</h3>
                <p>{{ z.theme_description |slice:64}}...</p>
                <a href="/category_page/{{ z.id }}" class="icon-link">Подробнее</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>




<!--<h1>Список статей</h1>-->
<!--<hr>-->
<!--{% for z in themes %}-->
<!--    <a href="/theme_page/{{ z.id }}">{{ z }}</a>-->
<!--<br>-->

<!--{% endfor %}-->