<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статья</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

</head>
<body class="bg bg-dark text-white">

<header class="p-3 text-bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <span>Ташкент 24 | </span>
        </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Главная</a></li>

            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"><input type="search"
                                                                                       class="form-control form-control-dark text-bg-dark"
                                                                                       placeholder="Поиск"
                                                                                       aria-label="Search"></form>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Войти</button>
                <button type="button" class="btn btn-warning">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</header>
<hr>
,<div class="container px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-3 py-3">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ themes1.theme_photo.url }}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6"><h1 class="display-5 fw-bold  lh-1 mb-3">{{ themes1 }}</h1>
            <p class="lead">{{ themes1.theme_description}}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Добавить в избранное</button>
                <button type="button" onclick="history.back()" class="btn btn-outline-secondary text-white btn-lg px-4">Назад</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--<h1>{{themes1.theme_name}}</h1>-->
<!--<hr>-->
<!--<p1>Описание: {{ themes1.theme_description}}</p1>-->
<!--<br>-->
<!--<p1>Описание: {{ themes1.theme_photo}}</p1>br-->
<!--<p1>Описание: {{ themes1.add_time}}</p1>-->
<!--<h1></h1>-->
<!--<p></p>-->
